<div class="container3 page3_main_background" *ngIf="bool">
    <div class="container page3_section">
        <div class="page3_text1"> 
        <div class="page3_picture">
            <img src="assets/images/Profile picture.jpg" >
        </div>
            <div>
                <div class="page3_text2">
                    Andrew Jonson
                     </div>
                     <div class="page3_text3">
                        Posted on 27th January 2022
                     </div>
            </div>
          
        </div>
        <div class="page3_title">Step-by-step guide to choosing great font pairs</div>
        <div class="page3_text4"><img src="assets/images//Icon.png" >Startup</div>

  

    </div>
</div>
<div *ngIf="bool2"  class="container3 page3_main_background">
    <div class="container page3_section" *ngFor="let item of filteredById">
        <div class="page3_text1"> 
        <div class="page3_picture">
            <img [src]="item.postUserImg" >
        </div>
            <div>
                <div class="page3_text2">
                    {{item.postUser}}
                     </div>
                     <div class="page3_text3">
                        Posted on {{item.postData}}
                     </div>
            </div>
          
        </div>
        <div class="page3_title">{{item.title}}</div>
        <div class="page3_text4"><img src="assets/images//Icon.png" >{{item.category}}</div>

  

    </div>
</div>
<div class="page3_image" *ngIf="bool"><img src="assets/images//photo-of-woman-wearing-eyeglasses-3184405.png"></div>
<div class="page3_image" *ngIf="bool2"><img *ngFor="let item of filteredById" [src]="item.image" style="width: 900px;"></div>
<div class="container3">
    <section class="page3_section">
        <div class="page3_section_title ">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
        </div>
        <div class="page3_section_text mrg-t">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque 
            egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.
        </div>
        <div class="page3_section_title mrg-t3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
        </div>
        <div class="page3_section_text mrg-t">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque 
            egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.
        </div>
        <div class="page3_section_text mrg-t2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque 
            egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.
        </div>  
        <ul class="page3_ul mrg-t2">
            <li >Lorem ipsum dolor sit amet</li>
            <li>Non blandit massa enim nec scelerisque</li>
            <li>Neque egestas congue quisque egestas</li>
        </ul>
        <div class="page3_section_text mrg-t2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque 
            egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.
        </div>
        <div class="page3_section_title mrg-t3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
        </div>
        <div class="page3_section_text mrg-t2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque 
            egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.
        </div>
    </section>
</div>
<div class="container2">
    <div >
            <div class="page3_section2_flex3">
                What to read next
            </div>
            <div class="container page3_section2_flex" >
                <a *ngFor="let item of data" [routerLink]="['/startup/step-by/',item.id]" (click)="closepage()">
                <div class="page3_section2_flex2" >
                    <div class="page3_section2_image">
                        <img [src]="item.image">
                    </div>
                    <div class="page3_section_flex3">
                        <div class="page3_section2_text2">By<span class="page3_span"> {{item.postUser}}</span>   l   Aug 23, 2021 </div>
                        <div class="page3_section2_title">{{item.title}}</div>
                        <div class="page3_section2_text2">{{item.short_description}}</div>
                    </div>
                </div>
            </a>
         </div>
</div>
<app-join></app-join>
