form{
    position: fixed;
    margin: auto;
    display: flex;
    flex-direction: column;
    top:100px;
    left: 35%;
    width: 700px;
    background-color: rgba(255, 255, 255, 0.397);
    font-size: 40px;
    text-transform: uppercase;
    align-items: center;
}


.alert_flex{
    display: flex;
    justify-content: center;
}