<div style="display: block; position: fixed">
  <button mat-button (click)="open()">Add new</button>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> image </th>
      <td mat-cell *matCellDef="let element"> <img [src]="element.image"> </td>
    </ng-container>
  

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  

    <ng-container matColumnDef="short_description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.short_description}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> <button mat-button (click)="delete(element.id)">Delete</button>
          <button mat-button (click)="edit(element,element.id)" >Edit</button></td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

    
  <div *ngIf="bool">
    <form [formGroup]="form"  #addUser="ngForm" (ngSubmit)="onSubmit(addUser.value)">
    <mat-icon (click)="close()" style="cursor: pointer; align-self: flex-end;">close</mat-icon>

      <mat-form-field>
        
        <div class="mrg-top">
          <mat-label for="image">
            image
          </mat-label>
      
      
            <input type="text" matInput  formControlName="image" id="image">
            <span *ngIf="form.get('image')?.hasError('required') && (form.get('image')?.dirty||form.get('image')?.touched )" style="color:red;">Введите ссылку на изображение</span> 

        </div>
      </mat-form-field>
      <mat-form-field>
        <div>
          <mat-label for="title">
            title
          </mat-label>

            <input type="text" matInput  formControlName="title" id="title">
            <span *ngIf="form.get('title')?.hasError('required') && (form.get('title')?.dirty||form.get('title')?.touched )" style="color:red;">Введите оглавление</span> 
        </div>
      </mat-form-field>
      <mat-form-field>

        <div>
          <mat-label for="short_description">
          short_description
        </mat-label>

            <input type="text" matInput  formControlName="short_description" id="short_description">
            <span *ngIf="form.get('short_description')?.hasError('required') && (form.get('short_description')?.dirty||form.get('short_description')?.touched )" style="color:red;">Введите краткое описание</span> 
        </div>
      </mat-form-field>
        <button type="submit" mat-button [disabled]="this.form.invalid" >Save</button>
        <div class="alert_flex" *ngIf="sucsess" style="color:green">данные успешно обновлены</div>
    </form>
    
    </div>
      