<div class="container">

    <section class="section7">
        <div class="section7_flex">
            <div class="section7_title">
                Join our team to be a part of our story
            </div>
            <div class="section7_text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            </div>
       
                <a class="section7_button" [routerLink]="'contact-us'" routerLinkActive="active" style="text-decoration: none;">
                    Join Now
                </a>
        </div>
    </section>
</div>