.page2_main_background{
    background-color: lavender;
    padding: 80px 60px 80px 0px;
}
.page2_text1{
    
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 3px;
text-align: left;
text-transform: uppercase;
max-width: 187px;
padding-bottom: 20px;

}
.page2_title{

font-family: Sen;
font-size: 36px;
font-weight: 700;
line-height: 48px;
letter-spacing: -2px;
text-align: left;
max-width: 630px;
padding-bottom: 16px;

}
.page2_text2{
    font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0px;
text-align: left;

font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0px;
text-align: left;
padding-bottom: 16px;

}
.page2_text3{
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0px;
text-align: left;
max-width: 624px;
}
.page2_button{
    margin-top: 32px;
    font-family: Sen;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    max-width: 205px;
    padding:16px 48px 16px 48px;
background: #FFD050;
}
.page2_a_read{
    color: #232536;
}
.page2_section_flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid rgba(173, 168, 168, 0.459);

}
.page2_section_flex2{
    padding-top:64px;
    display: flex;
    justify-content: space-between;

}
.page2_section_flex3{
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
}
.page2_section_text{
font-family: Inter;
font-size: 16px;
font-weight: 600;
line-height: 20px;
letter-spacing: 3px;
text-align: left;
text-transform: uppercase;
padding-bottom: 20px;

}
.section3_background{
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 128px;
}
.section3_icon{
    background: #FBF6EA;
    padding: 10px;
    width: 48px;
    height: 48px;
    border-radius: 10px;
}
.section3_text{
    padding-top: 10px;

font-family: 'Sen';
font-size: 28px;
font-weight: 700;
line-height: 40px;
letter-spacing: -1px;
text-align: left;

}
.section3_text2{
font-family: 'Inter';
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0px;
text-align: left;

}
.section3_article{
    border: 1px solid rgba(168, 166, 166, 0.555);
    padding: 32px;
    max-width: 300px;
    transition: 0.4s ease-in-out;
}
.section3_article:hover{
    background: #EDC14A;
    cursor: pointer;
}
.section3_icon{
   text-align: center;

}
.section_title{

    font-family: 'Sen';
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    text-align: left;
    padding-top: 128px;
    }
.page2_section_title{
font-family: Sen;
font-size: 36px;
font-weight: 700;
line-height: 48px;
letter-spacing: -2px;
text-align: left;
max-width: 603px;
padding-bottom: 16px;

}
.page2_section_text2{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    max-width: 625px;
    }
    .page2_section_flex3{
font-family: Sen;
font-size: 48px;
font-weight: 700;
line-height: 64px;
letter-spacing: -2px;
text-align: left;
padding-top: 64px;
    }
.page2_prev{
font-family: Sen;
font-size: 22px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0px;
text-align: center;
color: #6D6E76;
transition: 0.4s ease-in-out;
display: block;

}
.page2_next{
    font-family: Sen;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    color: #6D6E76;
    transition: 0.4s ease-in-out;
    display: block;
    margin-left: 10px;
    
}
.page2_prev:hover{
    color:#232536;
    transform: scale(1.3);
}
.container{
    max-width: 1280px;
    margin: auto;
}
.container2{
 
   max-width: 1280px;
   margin: auto;
  
}
.container3{
    display: flex;
    justify-content:space-between ;
}
.container4{
    display: flex;
    justify-content: center;
    
}
.page2_next:hover{
    color:#232536;
    transform: scale(1.3);
}
@media screen and (max-width:750px) {
    .container3{
        flex-direction: column;
        align-items: flex-start ;
    }
    .page2_section_flex2{
        flex-direction: column;
        align-items: center;
    }
    .page2_section_flex3{
        text-align: center;
    }
    .section3_background{
        flex-direction: column;
        align-items: center;
    }
    .section_title{
        text-align: center;
    }
  
    .page2_image{
        max-width: 320px;
    }
    .page2_images{
        width: 320px;
    }
}