<header class="header">
    <div class="container3">
    
    <div class="logo_image">
        <img src="assets/images/Logo.png" [routerLink]="'/'" style="cursor: pointer;">
    </div>
        <div class="pos">
            <ul class="nav">
                <li class="nav-item"><a [routerLink]="'/'" routerLinkActive="header_btn_active">Home</a></li>
                <li class="nav-item"><a [routerLink]="'startup'" routerLinkActive="header_btn_active">Blog</a></li>
                <li class="nav-item"><a [routerLink]="'about-us'" routerLinkActive="header_btn_active">About us</a></li>
                <li class="contact_us nav-item"><a [routerLink]="'contact-us'" routerLinkActive="header_btn_active">Contact us</a></li>
                <li class="nav_button nav-item"><a href="#" class="nav_a">Subscribe</a></li>
                
            </ul>
         
            
        </div>
            <div class="menu_display">
                <div class="burger" >
                    <span class="burger">__</span>
                    <span class="burger">__</span>
                    <span class="burger">__</span>
                <ul class="nav4">
                    <li class="nav-item" [routerLink]="'/'"  routerLinkActive="header_btn_active">Home</li>
                    <li class="nav-item"  [routerLink]="'startup'"  routerLinkActive="header_btn_active">Blog</li>
                    <li class="nav-item"  [routerLink]="'about-us'"  routerLinkActive="header_btn_active">About us</li>
                    <li class="contact_us nav-item"  [routerLink]="'contact-us'"  routerLinkActive="header_btn_active">Contact us</li>
                    <li class="nav_button nav-item"><a href="#" class="nav_a">Subscribe</a></li>  
                </ul>
              </div>
            </div>
               

       
    </div>
</header>