.page4_section{
    display: flex;
    padding-top: 80px;
    justify-content: center;

}
.facebook{
    margin-right: 16px;
    cursor: pointer;
}
.twitter{
    margin-right: 16px;
    cursor: pointer;

    
}
.insta{
    margin-right: 16px;
    cursor: pointer;
}
.linkedIn{
    cursor: pointer;

}
.page4_section_title{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
    
}
.page4_section_title2{
font-family: Sen;
font-size: 48px;
font-weight: 700;
line-height: 64px;
letter-spacing: -2px;
text-align: left;
padding-top: 12px;
max-width: 500px;


}
.page4_section_text{
font-family: Inter; 
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0px;
text-align: left;
padding-top: 45px;
max-width: 480px;
}
.page4_section_background{
    background-image: url(../../../assets/images/close-up-photography-of-man-wearing-sunglasses-1212984.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top -270px right 0px;
    height: 444px;
    
}
.position{
    position: absolute;

}
.relative{
    position: relative;
    top: 50px;
    z-index: 2;
    
}
.page4_section_flex{
    background-color: #ffffff;
    padding-bottom:64px;
    padding-left:64px;
    padding-right:64px;
}
.page4_section2_flex{
    position: relative;
    top: 265px;
    left: 109px;
    display: flex;
    max-width: 610px;
    background-color: #EDC14A;
}
.page4_section2_flex2{
    padding-left: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.page4_section2_text{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    
}
.page4_section2_title{
font-family: Sen;
font-size: 56px;
font-weight: 700;
line-height: 64px;
letter-spacing: -2px;
text-align: left;

}
.page4_section2_line{
    max-width: 311.48px;
    position: relative;
    top: 265px;
    left: 110px;
height: 23px;
background-color: #592EA9;

}
.page4_section2_line2{
    position: relative;
    max-width: 550px;
    height: 23px;
    top:242px;
    left: 420px;
    background: #FFD050;


}
.page4_section3_flex{
    display: flex;
    justify-content: space-between;

    background: #F4F0F8;

}
.page4_section4_flex{
    display: flex;
    justify-content: space-between;
    padding-top: 128px;
    padding-left: 80px;

}
.page4_section3_block{
    padding-top: 128px;
    padding-left: 108px;
    padding-bottom: 64px;
    padding-right: 108px;
}
.page4_section3_title{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
    text-transform: uppercase;
    
}
.page4_section3_text{
    font-family: Sen;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
    text-align: left;
    padding-top: 24px;
    max-width: 482px;
    
}
.page4_section3_text2{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    max-width: 530px;
    padding-top: 16px;
}

.page4_section4_title{
    padding-top: 82px;
;
    font-family: Sen;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    text-align: left;
    
}
.page4_section4_text{
font-family: Sen;
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0px;
padding-top: 16px;
text-align: left;

}
.page4_section4_text2{
    padding-top: 16px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    
    
    
}
.page4_figure{
    width: 103px;
    height: 116px;
    background: #EDC14A;
    position: relative;
    border-top-left-radius: 40px ;
    top:220px;
    right: 60px;;
}
.page4_section4_img{
    padding-left: 80px;
}
.page4_section6{
    display: flex;
    justify-content: space-between;
    padding-bottom:  10px;
}
.page4_section5_flex{
    display: flex;
    justify-content: space-between;
    padding-top: 128px;

}
.page4_section5_block{
    margin-left: 80px;
}
.page4_section5{
    display: flex;
    justify-content: space-between;
    padding-bottom:  100px;
}
.page4_section6{
    display: flex;
    justify-content: space-between;
    padding-bottom:  10px;
}
.container{
    max-width: 1280px;
    margin: auto;
}
.container2{
 
   max-width: 1280px;
   margin: auto;
  
}
.container3{
    display: flex;
    justify-content:space-between ;
}
.container4{
    display: flex;
    justify-content: center;
    
}
.section5{
   
    display: flex;
    
    justify-content: space-between;
    padding-bottom:  100px;
}
.section5_span{
    padding-top: 128px;
    display: block;
    text-align: center;
font-family: 'Sen';
font-size: 36px;
font-weight: 700;
line-height: 48px;
letter-spacing: -2px;


}

.section5_author{
    padding-top: 40px;
    margin-top: 48px;
    text-align: center;
    width: 300px;
    background: #F4F4F4;
    padding-bottom: 40px;

}
.section5_img{
    mix-blend-mode: multiply;

}
.section5_author_name{

font-family: 'Sen';
font-size: 28px;
font-weight: 700;
line-height: 40px;
letter-spacing: -1px;


}

.section5_author_text{

font-family: 'Inter';
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: center;
padding-bottom: 20px;

}

@media screen and (max-width:1200px){

    .section5{
        flex-direction: column;
        align-items: center;
    }

    .page4_section4_img{
        width: 400px;
    }
    .page4_section4_img{
        padding: unset;
    }
    .page4_section2_line2{
      display: none;
    }
    .page4_section2_line{
        display: none;
      }
    .page4_section2_flex{
        max-width: 510px;
      }
      .page4_figure[_ngcontent-ng-c3745762395]{
        display: none;
      }
      .page4_section4_title{
        padding: unset;
      }
}
@media screen and (max-width:710px){
    .page4_section{
        flex-direction: column;
        padding: unset;
        align-items: center;
    }
    .page4_section_text{
        background: white;
        padding: unset;
    }
    .page4_section2_flex[_ngcontent-ng-c3745762395]{
        flex-direction: column;
        align-items: center;
        position: unset;
        top: 45px;
        left: 153px;
        display: flex;
        max-width: 320px;
        background-color: #EDC14A;
    }
    .page4_section_background{
        height: 550px;
    }
    .relative{
        position: unset;
    }
    .absolute{
        position: unset;
    }
    .page4_section3_block[_ngcontent-ng-c3745762395] {
        padding: unset;
    }
    .page4_section4_flex{
        flex-direction: column;
        align-items: center;
        padding: unset;
    }
    .page4_section5_flex{
        flex-direction: column;
        align-items: center;
        padding: unset;
    }
    .page4_section5_block{
     
        margin: unset;
    }
    .section5_span{
        padding: unset;
    }
}
@media  screen and (max-width:480px) {
    .page4_section4_img{
        width: 320px;
    }
    .page4_section4_img{
        padding: unset;
    }
    .page4_section2_flex[_ngcontent-ng-c3745762395]{
 max-width: 150px;
 
    }
    .page4_section_background{
        height: 700px;
    }
}